{% extends 'template.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">Log Out</a></p>
        <script>

        $(document).ready( function () {
            const parsedDict = JSON.parse("{{info|escapejs}}")
                draw(parsedDict)
            }
        );

        function draw(data) {
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: Object.keys(data),
                    datasets: [{
                        label: 'Денег потрачено',
                        data: Object.values(data),
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }

        $(document).ready(function () {
            $('#spending-form').submit(function () {
                $.ajax({
                    data: $(this).serialize(),
                    type: $(this).attr('method'),
                    url: "{% url 'ajax_request' %}",
                    success: function (response) {
                        draw(response)
                    },
                    error: function (response) {
                        alert(response.responseJSON.error)
                    }
                });
                return false;
            });
        })





        </script>
        <div class="mt-5">
            <div class="col-md-2 float-right mr-5">
                <form method="POST" id="spending-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                <button type="submit" class="btn btn-primary ">Подтвердить</button>
            </form>
            </div>
            <div class="container justify-content-center col-md-5">
                <canvas id="myChart" width="200" height="200"></canvas>
            </div>
        </div>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
{% endblock %}