{% extends 'template.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">Log Out</a></p>
        <script>
            $(document).ready(function () {
                console.log('hello')
                $('#spending-form').submit(function () {
                    $.ajax({
                        data: $(this).serialize(),
                        type: $(this).attr('method'),
                        url: "{% url 'home' %}",
                        success: function (response) {
                            console.log('ok')
                        },
                        error: function (response) {
                            console.log('error')
                        }
                    });
                    return false;
                });
        })
        </script>
        <div class="container">
            <form method="POST" id="spending-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Подтвердить</button>
            </form>
        </div>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
{% endblock %}