{% extends 'template.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <script>
        function random_int() {
            return Math.floor(Math.random() * 255) + 1
        }

        function draw_pie(data, salary) {

            const ctx = document.getElementById('myChart').getContext('2d');
            const spent = Object.values(data).reduce((a, b) => { return a + b }, 0)
            let values = 0
            let keys = 0
            if (spent - salary < 0){
                values = Object.values(data).concat(salary - spent)
                keys = Object.keys(data).concat("Остаток")
            }
            else {
                values = Object.values(data)
                keys = Object.keys(data)
            }
            let colors = []
            for(let i = 0; i < values.length; i++)
            {
                const color = `rgba(${random_int()}, ${random_int()}, ${random_int()}, 0.5)`
                colors.push(color)
            }
            const myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: keys,
                    datasets: [{
                        label: '# of Votes',
                        data: values,
                        backgroundColor: colors,
                        borderColor: colors,
                        borderWidth: 1,
                        option: {
                        }
                    }]
                },
            });

            $("#myChart").click(
                function(evt){
                let labelIndex = myChart.getElementsAtEvent(evt)[0]._index;
                    $('#exampleModalCenter').modal()
                    document.getElementById('exampleModalCenterTitle').innerText = keys[labelIndex]
                    document.getElementById('id_category').value = keys[labelIndex]
                    document.getElementById('id_costs').value = values[labelIndex]
            }
        );

    }


        $(document).ready(function () {
            $('#salary-form').submit(function () {
                $.ajax({
                    data: $(this).serialize(),
                    type: $(this).attr('method'),
                    url: "{% url 'pie' %}",
                    success: function (response) {
                        draw_pie(response.spent, response.salary)
                    },
                    error: function (response) {
                        alert(response.responseJSON.error)
                    }
                });
                return false;
            });
        })

        $(document).ready(function () {
            $('#spending-form').submit(function () {
                $.ajax({
                    data: $(this).serialize(),
                    type: $(this).attr('method'),
                    url: "{% url 'ajax_request' %}",
                    success: function (response) {
                        draw_pie(response.json_response, response.salary)
                    },
                    error: function (response) {
                        alert(response.responseJSON.error)
                    }
                });
                return false;
            });
        })

        $(document).ready(function () {
            const parsedDict = JSON.parse("{{info|escapejs}}")
            const parsedSalary = JSON.parse("{{salary|escapejs}}")
                draw_pie(parsedDict, parsedSalary)
        }
    )
        </script>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="exampleModalInnerForm">
                    {{ spend_form|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modalButtonDelete">Удалить</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
                </div>
            </div>
        </div>
        <script>
        document.getElementById('modalButtonDelete').addEventListener("click", function () {
            console.log(document.getElementById("exampleModalCenterTitle").innerText)
            $.ajax({
                data: {'category': document.getElementById("exampleModalCenterTitle").innerText,
                        'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()},
                type: "POST",
                url: "{% url 'ajax_delete' %}",
                success: function (response) {
                    draw_pie(response.json_response, response.salary)
                }
            })
        })
        </script>

        <p><a href="{% url 'logout' %}">Log Out</a></p>
        <div class="mt-5">
            <div class="col-md-2 float-right mr-5">
                <form method="POST" id="salary-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary ">Подтвердить</button>
                </form>
                <form method="POST" id="spending-form">
                    {% csrf_token %}
                    {{ spend_form|crispy }}
                    <button type="submit" class="btn btn-primary ">Подтвердить</button>
                </form>
            </div>
            <div class="container justify-content-center col-md-5">
                <canvas id="myChart" width="200" height="200"></canvas>
            </div>
        </div>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
{% endblock %}
