{% extends 'template.html' %}
{% load crispy_forms_filters %}
{% block title %}Sign Up{% endblock %}

{% block body %}
    <h2>Sign Up</h2>
    <script>
        $(document).ready(function () {
            console.log('hello')
            $('#register-form').submit(function () {
                $.ajax({
                    data: $(this).serialize(),
                    type: $(this).attr('method'),
                    url: "{% url 'validate' %}",
                    success: function (response) {
                        console.log('ok')
                    },
                    error: function (response) {
                        console.log('error')
                    }
                });
                return false;
            });
    })
    </script>
    <form method="post" id="register-form">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form|crispy }}
        <button type="submit">Sign Up</button>
    </form>
{% endblock %}